[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = barma80
	email = baral.malay@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = code --wait
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --oneline --graph --all
	last = log -1 HEAD
	unstage = reset HEAD --
